{{#each data}}
  <div class="movie-item grid-item grid-item--width" data-mdbid="{{mdbid}}" title="{{{short_description}}}">
    <div class="poster">
      <img src="{{poster_url}}" width="160" height="234" alt="">
      <div class="overlay"></div>
    </div>
    <div class="card-content">
      <div class="card-info">
        <h3>{{title}} <span class="rating">({{rating}}/5)</h3></span>
        <div class="info"><p>{{{short_description}}}</p></div>
        <div class="year">year: {{year}}</div>
        {{#if mdbid}}<p><a href="#" class="card-trigger-trailer">Movie trailer</a> <span class="hide-active">(show)</span><span class="show-active">(hide)</span></p>{{/if}}
      </div>
    </div>
    <div class="card-embed"></div>
  </div>
{{/each}}
