{{#each data}}
  <div class="movie-item grid-item grid-item--width" style="background-image: url({{poster_url}})">
    <div class="overlay"></div>
    <div class="card-content">
      <h3>{{title}}</h3>
      <div class="meta">
        <div class="info">{{short_description}}</div>
        <div class="rating">rating: {{rating}}</div>
        <div class="year">year: {{year}}</div>
      </div>
    </div>
  </div>
{{/each}}
